<div class='home'>
  <div class='jumbotron'>
    <h1>Welcome to MyRecipes</h1>
    <h2>The best recipe sharing app!</h2>
    <p> <%= link_to 'Sign up or Sign In', '#', class: 'btn btn-lg btn-xlarge ' %> </p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Will you do the same for me? It's time to face the music I'm no longer your muse. Heard it's beautiful, be the
      judge and my girls gonna take a vote. I can feel a phoenix inside of me. Heaven is jealous of our love, angels are
      crying from up above. Yeah, you take me to utopia.</p>
    <p><a class="btn btn-secondary btn-lg btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Standing on the frontline when the bombs start to fall. Heaven is jealous of our love, angels are crying from up
      above. Can't replace you with a million rings. Boy, when you're with me I'll give you a taste. There’s no going
      back. Before you met me I was alright but things were kinda heavy. Heavy is the head that wears the crown.</p>
    <p><a class="btn btn-secondary btn-lg btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
  <div class="col-md-4">
    <h2>Heading</h2>
    <p>Playing ping pong all night long, everything's all neon and hazy. Yeah, she's so in demand. She's sweet as pie
      but if you break her heart. But down to earth. It's time to face the music I'm no longer your muse. I guess that I
      forgot I had a choice.</p>
    <p><a class="btn btn-secondary btn-lg btn-xlarge" href="#" role="button">View details &raquo;</a></p>
  </div>
</div>
