<footer class="footer py-6 bg-primary text-white jumbotron">
  <div class="container">
    <div class="row">

      <div class="col-md-3 col-xl-3 mb-3 mb-xl-0">
        <%= link_to 'MyRecipes', root_path, id: 'logo' %><br><br>
        <p>Premium Bootstrap Directory Listing Template</p>
      </div>

      <div class="col-md-3 col-6 col-xl-2 mb-5 mb-xl-0">
        <span class="h5">Themesberg</span>
        <ul class="footer-links mt-2">
          <li><a target="_blank" href="#">Blog</a></li>
          <li><a target="_blank" href="#">Products</a></li>
          <li><a target="_blank" href="#">About Us</a></li>
          <li><a target="_blank" href="#">Contact Us</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-6 col-xl-3 mb-5 mb-xl-0">
        <span class="h5">Other</span>
        <ul class="footer-links mt-2">
          <li><a href="#">Documentation <span class="badge badge-sm badge-secondary ml-2">v3.0</span></a></li>
          <li><a href="#">Changelog</a></li>
          <li><a target="_blank" href="#">Support</a></li>
          <li><a target="_blank" href="#">License</a></li>
        </ul>
      </div>

      <div class="col-md-3 col-12 col-xl-4 mb-5 mb-xl-0">
        <span class="h5">Get the app</span>
        <p class="text-muted font-small mt-2">It's easy. Just select your device.</p>
      </div>
    </div>

    <hr class="my-3 my-lg-5">
    <div class="d-flex text-center justify-content-center align-items-center" role="contentinfo">
      <p class="font-weight-normal font-small mb-0">Copyright © Themesberg <span class="current-year">2022</span>.
        All rights reserved.</p>
    </div>
  </div>
  </div>
  </div>
</footer>
